{{ include('partials/head.twig') }}

    {{ include('partials/browser-update.twig', ignore_missing = true) }}

    <header class="banner">
        <div class="wrapper">

            <a class="logo" href="/admin">
                <img src="http://assets.resknow.co.uk/branding/resknow/logo-278x80.png">
            </a>

            <a class="navigation-toggle" href="#"><i class="ion ion-navicon"></i></a>

            <nav class="navigation">
                <ul>
                    <li><a href="/admin/new" class="add-new-post"><i class="ion ion-plus icon left"></i> New Post</a></li>
                    <li><a href="/admin/posts">Posts</a></li>
                    <li><a href="/admin/settings"><i class="ion ion-gear-a icon left"></i> Settings</a></li>
                </ul>
            </nav>

        </div>
    </header>
