{{ include('partials/head.twig') }}

    {{ include('partials/browser-update.twig', ignore_missing = true) }}

    <nav class="mobile-navigation">
        <a class="close" href="#">&times;</a>
        <ul>
            <li><a href="/admin/new" class="add-new-post"><i class="ion ion-plus icon left"></i> New Post</a></li>
            <li><a href="/admin/posts"><i class="ion ion-android-list icon left"></i> Posts</a></li>
            <li><a href="/{{ cms.config.logout_path }}"><i class="ion ion-log-out icon left"></i> Logout</a></li>
        </ul>
    </nav>

    <header class="banner">
        <div class="wrapper">

            <a class="logo" href="/admin">
                <img src="http://assets.resknow.co.uk/branding/resknow/logo-278x80.png">
            </a>

            <a class="navigation-toggle" href="#"><i class="ion ion-navicon"></i></a>

            <nav class="navigation">
                <ul>
                    <li><a href="/admin/new" class="add-new-post"><i class="ion ion-plus icon left"></i> New Post</a></li>
                    <li><a href="/admin/posts"><i class="ion ion-android-list icon left"></i> Posts</a></li>
                    <li><a href="/{{ cms.config.logout_path }}"><i class="ion ion-log-out icon left"></i> Logout</a></li>
                </ul>
            </nav>

        </div>
    </header>
