{{ include('partials/header.twig') }}

<section class="page-title">
    <div class="wrapper">
        <h1>Welcome to your Content Management System</h1>
        <p>From here, you can create, edit and delete certain content on your website. To get started, head over to the <a href="/admin/posts">posts page</a> now.</p>
    </div>
</section>

{{ include('partials/footer.twig') }}
