{{ include('partials/head.twig') }}

<section class="wrapper admin-login-wrapper">
    <div class="logo">
        <img src="http://assets.resknow.co.uk/branding/resknow/logo-278x80.png">
    </div>
    <div class="card raised four admin-login">
        <h3 class="title">Add a User</h3>
        <div class="content">
            <form class="ajax-form" action="/{{ cms.config.register_handler }}" method="post">
                <div class="field">
                    <label for="email">E-mail</label>
                    <input type="email" name="email">
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" name="password">
                </div>
                <div class="field">
                    <button type="submit" class="positive">Login</button>
                    <a class="extra small blank button" href="/admin/password">Forgotten your password?</a>
                </div>
            </form>
        </div>
    </div>
</section>

{{ include('partials/footer.twig') }}
