{{ include('partials/header.twig') }}

<section class="page-title">
    <div class="wrapper">
        <h1>Update CMS</h1>
        <p>Everything is up to date.</p>
    </div>
</section>

{{ include('partials/footer.twig') }}
