<!doctype html>
<html>
<head>
    <title>Install PHPSF2 CMS</title>
    <style>
    body {
        color: #454545;
        font-family: sans-serif;
        font-size: 14px;
    }
    .wrapper {
        margin: 0 auto;
        width: 400px;
    }
    .card {
        border: 1px solid #eee;
        border-radius: 3px;
        margin-top: 30px;
        padding: 18px 24px;
    }
    .button {
        background-color: #572e8b;
        border: 0;
        border-radius: 3px;
        color: white;
        display: inline-block;
        padding: 8px 12px;
        cursor: pointer;
    }
    </style>
</head>
<body>

    <div class="wrapper">

        <h1>Install PHPSF2 CMS</h1>

        <div class="card">
            <h3>Basics</h3>
            <p>We need to copy a few files and folders to get us started. They are:</p>
            <ul>
                <li>Theme, to <code>/app/theme/admin</code></li>
                <li>Assets,to <code>/public_html/assets</code></li>
            </ul>
            <p>Once we've done that, we'll get on to setting up the database.</p>
            <p><button class="button">Do it!</button></p>
        </div>

    </div>

</body>
</html>
